[submodule "external/WSGM.Device.Sdk"]
	path = external/WSGM.Device.Sdk
	url = https://github.com/KillerPixelCrew/WSGM.Device.Sdk
[submodule "external/WSGM.DeviceLab"]
	path = external/WSGM.DeviceLab
	url = https://github.com/KillerPixelCrew/WSGM.DeviceLab
